@charset "UTF-8";

*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0%  

}

html , body{
    max-height: 100vh;
}

a{
    text-decoration: none;
    font-weight: bolder;
}

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap');

img{
    margin: 0px;
    border: 0px;
    display: inline-block;
}

body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #010e1a;
}



header{
    min-width: 50px;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;  
    padding: 5px; 
    position: relative; 
    top: 20px;
    background-image: linear-gradient(to right, #F20544 , #8C0846 , #074073);
}

header{
    border: solid rgb(78, 225, 245) 0.5px;
}

header{
    color: aliceblue;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 25px;
    margin-bottom: -50px;
}

nav{
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    display: block;
}

li{
    list-style: none;
    background-color: #8C0846;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

.linck{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
}

li:hover{
    background-color: #074073;
    transition: 0.5s;
}

.control01{
    display: block;
}

.sonic{
    position: relative;
}

.sonic{
    top: -180px;
    left: 350px;
}

.control1{
    display: block;   
    margin-left: 85%;
    margin-top: -35%;
    min-width: 50px;
    max-width: 200px;
    padding: 0%;
    display: inline-block;
}

/*Resposividade*/

@media screen {
    
}

/*Resposividade*/

.aranha{
    position: relative;
    margin: 0%;
    
}

.control1{
    animation: aranha 1s infinite;

}

@keyframes aranha{
    50% {
        transform: translatey(-10px);
    }

    0% {
        transform: translatey(0px);
    }

    100% {
        transform: translate(7);
    } 
}

main{
    display: block;
    min-width: 300px;
    max-width: 1000px;
    height: 500px;
    background-color: aliceblue;
    margin: auto;
    border-radius: 20px 0px 20px 0px;
    margin-top: -200px;
    margin-bottom: 50px;
    padding: 10px;
}

div{
    min-width: 50px;
    max-width: 300px;
    width: 110px;
    height: 100px;
    background-color: #074073;
    border: 0.1px solid #010e1a ;
    margin: 25px;
    position: relative;   
    display: inline-table;
    align-items: center; 
    
    border-radius: 5px;
    border: solid 2px rgb(9, 161, 231); 
    transition: 0.5s;   
}

/*Animação das clases conteiner!*/


div:hover{
    transform: scale(1.4);
    transition: 0.5s;
}

/*Seleção de jogos*/

.conteiner1{
    background-image: url(https://res.vigoo.com/assets/highwayracer/NeEWJj1616648431_jpeg.webp);
    background-size: cover;
}

.conteiner2{
    background-image: url(https://res.vigoo.com/assets/highwayracer3d/iiNDbg1614657084_png.webp);
    background-size: cover;
}

.conteiner3{
    background-image: url(https://res.vigoo.com/assets/fireboyandwatergirl2lighttemple/kOv54q1634974819_jpeg.webp);
    background-size: cover;
}

.conteiner4{
    background-image: url(https://res.vigoo.com/assets/fireboyandwatergirl5elements/krk8d11634974217_jpeg.webp);
    background-size: cover;
}

.conteiner5{
    background-image: url(https://res.vigoo.com/assets/motox3mbikeracegame/qdoz5r1611287036_png.webp);
    background-size: cover;
}

.conteiner6{
    background-image: url(https://res.vigoo.com/assets/goingballs/hBD0hA1642671070_png.webp);
    background-size: cover;
}

.conteiner7{
    background-image: url(https://res.vigoo.com/assets/bounceball/UUj7mL1577351676_png.webp);
    background-size: cover;
}

.conteiner8{
    background-image: url(https://res.vigoo.com/assets/cuttherope2/rvkuAT1635146306_jpeg.webp);
    background-size: cover;
}

.conteiner9{
    background-image: url(https://res.vigoo.com/assets/fruitninja/1TheMu1638868205_jpeg.webp);
    background-size: cover;
}

.conteiner10{
    background-image: url(https://res.vigoo.com/assets/happyglass2/14FezW1628575966_jpeg.webp);
    background-size: cover;
}

.conteiner11{
    background-image: url(https://res.vigoo.com/assets/stickmanhookrescue/Uwrczw1630130285_jpeg.webp);
    background-size: cover;
}

.conteiner12{
    background-image: url(https://res.vigoo.com/assets/hungrysharkarena/V75Lyg1636100892_jpeg.webp);
    background-size: cover;
}

.conteiner13{
    background-image: url(https://res.vigoo.com/assets/puzzlebobble/9DPCae1638872629_jpeg.webp);
    background-size: cover;
}

.conteiner14{
    background-image: url(https://res.vigoo.com/assets/dinosaursniping/oE3tuB1616647662_jpeg.webp);
    background-size: cover;
}

.conteiner15{
    background-image: url(https://res.vigoo.com/assets/neonbiker/5aNYy51617010679_jpeg.webp);
    background-size: cover;
}

.baixo{
    background: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

    
}